.carousel .responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.carousel * {
  font-family: Nunito, sans-serif;
}

.carousel .responsive-container-block.bigContainer {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.carousel .responsive-container-block.Container {
  max-width: 1320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  position: relative;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 70px;
  padding-left: 10px;
}

.carousel .cardImg {
  width: 100%;
}

.carousel .container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.carousel .swiper.mySwiper {
  width: 100%;
}

.carousel .swiper-slide {
  width: 100%;
}

.carousel .swiper-wrapper {
  width: 100%;
}

.carousel .swiper-pagination.container-block {
  top: auto;
  bottom: 5px;
  min-height: 20px;
}